In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("/Users/rmn7591/Documents/Repositories/dataengineering/learning_panda/weather_data.xlsx")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-02-01           35          7  Sunny
2 2017-03-01           28          2   Snow
3 2017-04-01           24          7   Snow
4 2017-05-01           32          4   Rain
5 2017-06-01           31          2  Sunny

In [46]:
# using python dict
weather_data ={
    'day':['1/1/2017','1/2/2017','1/3/2017'],
    'temperature':[32,35,28],
    'windspeed' :[6,7,2],
    'event':['Rain','Sunny','Snow']
    
}
df = pd.DataFrame(weather_data)

In [47]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [54]:
df["new_temperature"] = df["temperature"].apply(
    lambda x: x * 0.5)
df

        day  temperature  windspeed  event  new_temperature
0  1/1/2017           32          6   Rain             16.0
1  1/2/2017           35          7  Sunny             17.5
2  1/3/2017           28          2   Snow             14.0

In [55]:
df["new_temperature"] = df["temperature"].apply(
    lambda x: pd.to_numeric(x) * 0.5)
df

        day  temperature  windspeed  event  new_temperature
0  1/1/2017           32          6   Rain             16.0
1  1/2/2017           35          7  Sunny             17.5
2  1/3/2017           28          2   Snow             14.0

In [6]:
# using tuples creating df
weather_data =[
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]
df = pd.DataFrame(weather_data, columns = ['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [25]:
df = pd.read_excel("/Users/rmn7591/Documents/Repositories/dataengineering/learning_panda/stock_data.xlsx",na_values = ['not available','n.a.'])
df

  Tickers            EPS  Revenue Price         People
0   GOOGL          27.82       87   845     Larry Page
1     WMT           4.61      484    65           N.A.
2    MSFT             -1       85    64     Bill Gates
3     RIL  Not Available       50  1023  Mukesh Ambani
4    TATA            5.6       -1  N.A.     Ratan Tata

In [28]:
df = pd.read_excel("/Users/rmn7591/Documents/Repositories/dataengineering/learning_panda/stock_data.xlsx",
                   na_values = {
                       'eps':['not available','n.a.'],
                       'revenue':['not available','n.a.',-1],
                       'people':['not available','n.a.']
                   })
df

In [31]:
df.to_excel("/Users/rmn7591/Documents/Repositories/dataengineering/learning_panda/new_stock_data.xlsx",index=False)

In [32]:
df.columns

Index(['Tickers', 'EPS', 'Revenue', 'Price', 'People'], dtype='object')

AttributeError: 'DataFrame' object has no attribute 'price'

In [34]:
df.to_excel("/Users/rmn7591/Documents/Repositories/dataengineering/learning_panda/new_stock_data.xlsx",columns=['Tickers','EPS'],header= False)

In [58]:
import pandas as pd

def convert_people_cell(cell):
    if cell == "n.a.":
        return 'Sam Walton'
    return cell

def convert_eps_cell(cell):
    if cell == "not available":
        return None

df = pd.read_excel("/Users/rmn7591/Documents/Repositories/dataengineering/learning_panda/new_stock_data.xlsx",converters={
    'people': convert_people_cell,
    'eps':convert_eps_cell
})
df

   Unnamed: 0 Tickers            EPS
0           0   GOOGL          27.82
1           1     WMT           4.61
2           2    MSFT             -1
3           3     RIL  Not Available
4           4    TATA            5.6

In [ ]:
# if you have two dataframe

In [59]:
df_stocks = pd.DataFrame({
    'tickers':['GOOGL','WMT','MSFT'],
    'price':[845,65,64],
    'pe':[30.37,14.26,30.97],
    'eps':[27.82,4.61,2.12]
})

df_weather = pd.DataFrame({  'day':['1/1/2017','1/2/2017','1/3/2017'],
    'temperature':[32,35,28],
    'windspeed' :[6,7,2],
    'event':['Rain','Sunny','Snow']
                            })

In [61]:
with pd.ExcelWriter("/Users/rmn7591/Documents/Repositories/dataengineering/learning_panda/stock_weather_data.xlsx") as writer:
    df_stocks.to_excel(writer,sheet_name = 'stocks')
    df_weather.to_excel(writer, sheet_name = 'weather')

In [ ]:
# handle missing datas

In [62]:
df

   Unnamed: 0 Tickers            EPS
0           0   GOOGL          27.82
1           1     WMT           4.61
2           2    MSFT             -1
3           3     RIL  Not Available
4           4    TATA            5.6