In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("/Users/rmn7591/Documents/Repositories/dataengineering/learning_panda/weather_data.xlsx")

In [3]:
df.shape

(6, 4)

In [4]:
df.head()

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-02-01           35          7  Sunny
2 2017-03-01           28          2   Snow
3 2017-04-01           24          7   Snow
4 2017-05-01           32          4   Rain

In [5]:
df.tail()

         day  temperature  windspeed  event
1 2017-02-01           35          7  Sunny
2 2017-03-01           28          2   Snow
3 2017-04-01           24          7   Snow
4 2017-05-01           32          4   Rain
5 2017-06-01           31          2  Sunny

In [6]:
df.head(2)

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-02-01           35          7  Sunny

In [7]:
df[2:5]

         day  temperature  windspeed event
2 2017-03-01           28          2  Snow
3 2017-04-01           24          7  Snow
4 2017-05-01           32          4  Rain

In [8]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [9]:
df.day

0   2017-01-01
1   2017-02-01
2   2017-03-01
3   2017-04-01
4   2017-05-01
5   2017-06-01
Name: day, dtype: datetime64[ns]

In [10]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [11]:
df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [12]:
type(df.event)

pandas.core.series.Series

In [13]:
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-02-01           35          7  Sunny
2 2017-03-01           28          2   Snow
3 2017-04-01           24          7   Snow
4 2017-05-01           32          4   Rain
5 2017-06-01           31          2  Sunny

In [14]:
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [15]:
df['temperature'].max()

35

In [16]:
df.describe()

                       day  temperature  windspeed
count                    6     6.000000   6.000000
mean   2017-03-17 04:00:00    30.333333   4.666667
min    2017-01-01 00:00:00    24.000000   2.000000
25%    2017-02-08 00:00:00    28.750000   2.500000
50%    2017-03-16 12:00:00    31.500000   5.000000
75%    2017-04-23 12:00:00    32.000000   6.750000
max    2017-06-01 00:00:00    35.000000   7.000000
std                    NaN     3.829708   2.338090

In [17]:
df[df.temperature >= 32]

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-02-01           35          7  Sunny
4 2017-05-01           32          4   Rain

In [26]:
df[df.temperature >= 32]

            temperature  windspeed  event
day
2017-01-01           32          6   Rain
2017-02-01           35          7  Sunny
2017-05-01           32          4   Rain

In [18]:
df['day'][df.temperature == df.temperature.max()]

1   2017-02-01
Name: day, dtype: datetime64[ns]

In [19]:
df[['day','temperature']][df.temperature == df.temperature.max()]

         day  temperature
1 2017-02-01           35

In [20]:
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-02-01           35          7  Sunny
2 2017-03-01           28          2   Snow
3 2017-04-01           24          7   Snow
4 2017-05-01           32          4   Rain
5 2017-06-01           31          2  Sunny

In [21]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [40]:
df.set_index('event', inplace = True)
df

             day  temperature  windspeed
event
Rain  2017-01-01           32          6
Sunny 2017-02-01           35          7
Snow  2017-03-01           28          2
Snow  2017-04-01           24          7
Rain  2017-05-01           32          4
Sunny 2017-06-01           31          2

In [39]:
df.reset_index(inplace = True)

In [37]:
df

             day  temperature  windspeed
event
Rain  2017-01-01           32          6
Sunny 2017-02-01           35          7
Snow  2017-03-01           28          2
Snow  2017-04-01           24          7
Rain  2017-05-01           32          4
Sunny 2017-06-01           31          2

In [42]:
df.loc['Snow']

             day  temperature  windspeed
event
Snow  2017-03-01           28          2
Snow  2017-04-01           24          7